<h1>User Profile Page</h1>
Current User's ID is <%= @user.id %>
<p>Current User's Name is <%= @user.fname %> <%= @user.lname %></p>
<h2>List of Snipps</h2>
<p>Medium: <%=  %></p>
<p>Quotation: <%=  %></p>
<p>Quoter: <%=  %></p>
<p>Takeaway: <%=  %></p>
<p>Source: <%=  %></p>

