<h2>Library</h2>

<br>

<%= form_tag(user_path, method: :get) do %>
<%= text_field_tag(:search, params[:search]) %>
<%= submit_tag("search") %>
<% end %>

<br>

<a class="snipp-btn-link" href=<%="#{new_user_snipp_path(@user)}"%>>
  <div class="create-snipp-btn">
    <div class="btn-icon">
      <ion-icon name="cut"></ion-icon>
    </div>
    <div class="btn-copy">
      Create Snipp
    </div>
  </div>
</a>

<br>

<div class="snipp-cards">
  <% @snipps.each do |snipp| %>
    <div class="snipp-card">
      <div class="snipp-medium">
        <%= medium_helper snipp.medium %>
      </div>
      <div class="snipp-more-options">
        <%= link_to "<ion-icon name='trash'></ion-icon>".html_safe, snipp_path(snipp), method: :delete %>
      </div>
      <div class="snipp-quotation">
        <p>"<%= snipp.quotation %>"</p>
      </div>
      <div class="snipp-quoter">
        <p>-<%= snipp.quoter %></p>
      </div>
    </div>
  <% end %>
</div>
