
<div class="header-content">
  <br>


  <br>
  <h4>Welcome to <%= current_user.fname %> <%= current_user.lname %>'s  Snipps Library</h4>

  <br>


  <div class="search-form-container">
    <ion-icon name="ios-search"></ion-icon>
    <%= form_tag(user_path, method: :get) do %>
      <%= text_field_tag 'search', nil, class: 'searchbar', placeholder: 'Search Snipps' %>
    <% end %>
  </div>

<br>
Top Tags
<br>
<% current_user.owned_tags.most_used(3).each do |tag| %>
    <%= link_to tag.name %>
<% end %>
<br>
<br>
</div>

<div class="button-placement">
  <a class="snipp-btn-link" href=<%="#{new_user_snipp_path(@user)}"%>>
    <div class="create-snipp-btn">
      <div class="btn-icon">
        <ion-icon name="cut"></ion-icon>
      </div>
      <div class="btn-copy">
        Create Snipp
      </div>
    </div>
  </a>
</div>

<br>
<br>

<div class="snipp-cards">
  <% @snipps.each do |snipp| %>
    <div class="snipp-card">
      <a class="snipp-card-click-section" href=<%="#{snipp_path(snipp)}"%>>
        <div class="snipp-card-clickable-section"></div>
      </a>
      <div class="snipp-medium">
        <%= medium_helper snipp.medium %>
      </div>
      <div class="snipp-more-options">
        <div class="dropdown show">
          <a class="dropdown-toggle caret-off" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <ion-icon name='ios-more'></ion-icon>
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <%= link_to "Edit", edit_snipp_path(snipp), class: 'dropdown-item' %>
            <%= link_to "Delete", snipp_path(snipp), method: :delete, class: 'dropdown-item' %>
          </div>
        </div>
      </div>
      <div class="snipp-quotation">
        "<%= quotation_helper snipp.quotation %>"
      </div>
      <div class="snipp-quoter">
        -<%= snipp.quoter %>
      </div>
    </div>
  <% end %>
</div>
