<%= link_to(root_path, class: 'form-back-btn') do %>
  <div class="back-icon-placement"><ion-icon name="ios-arrow-back"></div>
  <div class="back-text-placement">Back to Library </div>
<% end %>

<div class="create-snipp-container">
  <%= simple_form_for [@user, @snipp] do |f| %>
    <%= f.error_notification %>
    <%= f.input :medium,
                  required: true,
                  collection: ["Podcast", "Tweet", "Book", "Video", "Online Article", "Newsletter", "Other"],
                  selected: "Podcast",
                  label: "Select medium"%>
    <%= f.input :quotation,
                  required: true,
                  label: "What was the Snipp?",
                  placeholder: 'Everyone has a movie of their lives playing in their head' %>
    <%= f.input :quoter,
                  required: true,
                  label: "Who said it?",
                  placeholder: 'Reid Hoffman' %>
    <%= f.input :takeaway,
                  required: true,
                  label: "What was your takeaway?",
                  placeholder: 'I need to set up my team to be the heroes of their own personal journey' %>
    <%= f.input :source,
                  required: true,
                  label: "Insert a link to the original source.",
                  placeholder: 'https://mastersofscale.com/#/reid-hoffman-make-everyone-a-hero/' %>
    <%= f.input :tag_list,
                  required: true,
                  label: "Please separate each tag with a comma.",
                  value: @snipp.all_tags_list,
                  placeholder: 'startsups, tech, growth' %>
    <div class="form-btn-placement">
      <%= f.submit "Create Snipp", class: "snipp-form-btn" %>
    </div>
  <% end %>
</div>

