<h1>Make New Snipp Form</h1>

<%= simple_form_for [@user, @snipp] do |f| %>
  <%= f.error_notification %>
  <%= f.input :medium,
                required: true %>
  <%= f.input :quotation,
                required: true %>
  <%= f.input :takeaway,
                required: true %>
  <%= f.input :quoter,
                required: true %>
  <%= f.input :source,
                required: true %>
  <%= f.submit "add snipp", class: "btn btn-primary" %>
<% end %>

<%= link_to "Home", root_path %>
